<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <connectionStrings>
    <add name="DatabaseConnection"
         connectionString="Database=DatabaseName;Server=host;User ID=user;Password=password;Connection Timeout=30;pooling=false;"
         providerName="System.Data.SqlClient"
    />
  </connectionStrings>
</configuration>